/* Parent container for the entire app */
.app-container {
  display: flex;
  flex-direction: column;
  height: 100vh; /* Full viewport height */
}

/* Container for the sidebars and main content */
.content-container {
  display: flex;
  flex: 1;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 10px; /* Reduce space between .container and .content-container */
}

/* Left sidebar styles */
.left-sidebar {
  width: 200px; /* Adjust width as needed */
  background-color: #f4f4f4;
  box-shadow: 1px 0px 3px rgba(0, 0, 0, 0.1);
}

/* Main content area styles */
.main-content {
  flex: 1;
  padding: 15px; /* Adjust padding for tighter spacing */
  background-color: #fff;
}

/* Right sidebar styles */
.right-sidebar {
  width: 300px; /* Adjust width as needed */
  background-color: #f9f9f9;
  box-shadow: -1px 0px 3px rgba(0, 0, 0, 0.1);
}

h1 {
  margin: 20px; /* Reduce the margin of the heading */
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top:30px;
}

.heading {
  font-size: 24px;
  font-weight: bold;
}

.ask-button {
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 15px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.ask-button:hover {
  background-color: #0056b3;
}
